<button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="showModal()">
  <nz-icon nzType="plus" />
</button>
<nz-table [nzData]="redirections">
  <thead>
    <tr>
      <th>Link</th>
      <th>Redirect to</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (redirect of redirections; track $index) {
      <tr>
        <td>/{{ redirect.path }}</td>
        <td>https://{{ redirect.redirectTo }}</td>
        <td class="action-buttons">
          <button nz-button nzType="primary" nzSize="small" nzShape="round" (click)="showModal($index)">
            <nz-icon nzType="edit" />
          </button>
          <button nz-button nzType="primary" nzSize="small" nzShape="round" nzDanger>
            <nz-icon nzType="delete" />
          </button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <label for="path">Path</label>
    <nz-input-group [nzAddOnBefore]="getPathOrigin() + '/'">
      <input type="text" nz-input name="path" [(ngModel)]="path" />
    </nz-input-group>
    <label for="redirectTo">Redirect to</label>
    <nz-input-group nzAddOnBefore="https://">
      <input type="text" nz-input name="redirectTo" [(ngModel)]="redirectTo" />
    </nz-input-group>
  </ng-container>
</nz-modal>