<button nz-button nzType="primary" nzSize="default" nzShape="round" (click)="showModal()" class="add-button">
  <nz-icon nzType="plus" nz-popover nzPopoverContent="Add redirection" />
</button>
<nz-table [nzData]="redirections()">
  <thead>
    <tr>
      <th>Link</th>
      <th>Redirect to</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (redirect of redirections(); track $index) {
      <tr>
        <td>
          <a [href]="getFullRedirectLink(redirect.path)" target="_blank">
            /{{ redirect.path }}
          </a>
        </td>
        <td>https://{{ redirect.redirectTo }}</td>
        <td class="action-buttons">
          <button nz-button nzType="primary" nzSize="small" nzShape="round" nz-popover nzPopoverContent="Copy link" (click)="copy(getFullRedirectLink(redirect.path))">
            <nz-icon nzType="copy" />
          </button>
          <button nz-button nzType="primary" nzSize="small" nzShape="round" nz-popover nzPopoverContent="Edit" (click)="showModal($index)">
            <nz-icon nzType="edit" />
          </button>
          <button nz-button nzType="primary" nzSize="small" nzShape="round" nz-popover nzPopoverContent="Delete" (click)="delete($index)" nzDanger>
            <nz-icon nzType="delete" />
          </button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <label for="path">Path</label>
    <nz-input-group [nzAddOnBefore]="getPathOrigin() + '/'">
      <input type="text" nz-input name="path" [(ngModel)]="path" />
    </nz-input-group>
    <label for="redirectTo">Redirect to</label>
    <nz-input-group nzAddOnBefore="https://">
      <input type="text" nz-input name="redirectTo" [(ngModel)]="redirectTo" />
    </nz-input-group>
  </ng-container>
</nz-modal>